* {
    margin: 0;
    padding: 0;
    font: 100%/1.4 "Arial", "Helvetica", sans-serif;
    font-size: small;
}

h2 {
  margin: 0px;
  background-color: #084c94;
  color: white;
  padding-left: 5px;
  font-weight: bold;
}
div.description {
  margin: 3px 5px;
}
div.url {
  font-size: 8px;
}
#title {
  margin: 2px;
  font-size:small;
}
#buttons {
  text-align:center;
  margin: 10px 0px 10px 0px;
  width: 300px;
}
/* vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8 foldmethod=marker: */
